/build
*.log
/vendor
.vscode
vivado.jou
vivado.log
/util/reggen/__pycache__
/util/topgen/__pycache__

/hw/mage/stream/streaming_interface.sv
/hw/mage/packages/stream_intf_pkg.sv
/hw/mage/execute/pea.sv
/hw/mage/execute/pe/dae/pe_dae.sv
/hw/mage/execute/pe/dae/pe_dae_part_gemm_acc.sv
/hw/mage/packages/agu_pkg.sv
/hw/mage/packages/xbar_pkg.sv
/hw/mage/access/age.sv
/hw/mage/packages/pea_pkg.sv
/hw/mage/configuration/peripheral_regs.sv
/hw/mage/configuration/mage_reg_top.sv
/hw/mage/configuration/mage_reg_pkg.sv
/hw/mage_top.sv
/hw/mage_wrapper.sv 
/hw/mage/configuration/mage_regs.hjson
/hw/mage/access/agu.sv
/hw/mage/access/cfg_dispatcher.sv
/hw/mage/access/k_controller.sv
/hw/fpga/fpga_sram_wrapper.sv

/sw/mage.h
/sw/mage.c
/sw/mage_regs.h
/sw/mage_x_heep.h
/sw/mage_params.h